.login-box{
  position: absolute;
  width: 400px;
  height: 388px;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.information h2{
  cursor: pointer;
  color: #B2DFEE;
  text-align: center;
  margin-bottom: 50px;
}
.login-box .login-form{
  border-top: 1px solid #616161;
  border-bottom:  1px solid #616161;
}
.login-form .control-group{
  width: 400px;
  height: 70px;
  padding: 5px 0;
}
.login-form .control-group label{
  cursor: pointer;
  display: inline-block;
  color: #B2DFEE;
  margin-bottom: 5px;
}
.login-form .control .icon-bg{
  cursor: pointer;
  display: inline-block;
  width: 37px;
  padding:9.2px;
  text-align: center;
  color: #fff;
  float: left;
}
.login-form .control .id-bg{
  background-color: #3385ff;
}
.login-form .control .user-bg{
  background-color:rgb(40, 183, 121);
}
.login-form .control .pas-bg{
  background-color:rgb(218, 84, 46);
}
.login-form .control .icon-bg .iconfont{
  font-size: 20px;
}
.login-form .control .identity-select{
  display: inline-block;
  width: 86%;
  height: 40px;
  font-size: 14px;
}
.login-form .control input{
  display: inline-block;
  width: 86%;
  height: 40px;
  line-height: 40px;
  font-size: 1.1em;
  border-width: 0;
  float: left;
}
.login-form .btn a{
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}
.login-form .btn .log-btn{
    position: relative;
    cursor: pointer;
    top: 0;
    left: 232px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 6px;
    background-color: rgb(40, 183, 121);
    border: 0;
}
.copyright{
  cursor: pointer;
  color: gray;
  text-align: center;
}
