body {
    color: #868686;
    background:#4d4d4d !important;
}
#main-content {
    box-shadow: 0 0 10px #292828;
    -moz-box-shadow: 0 0 10px #292828;
    -webkit-box-shadow:0 0 10px #292828 ;
}
a, a:hover {
    text-shadow: none !important;
    color: #363636;
}
ul.faq-list li a:hover, ul.faq-list li a.active{
    background: #363636;
}
#header.navbar-inverse .navbar-inner {
    background:#4e4e4e url("../img/top-bg.jpg") repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e',endColorstr='#4e4e4e',GradientType=0);
    border-width: 0;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
    background-color: #333 !important;
}

#header.navbar-inverse .divider-vertical {
    border-left-color: #2c2d2f;
    border-right-color: #181a1b;
}

#sidebar > ul > li > a {
    color: #a0a0a0 !important;
}

#sidebar > ul > li a i {
    color: #fff !important;
}

#sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {
    color: #fff !important;
    background: url("../img/side-bar-list-bg.png");
}

#sidebar > ul > li.active > a{
    background: url("../img/side-bar-list-bg.png");
}

#sidebar > ul > li > ul.sub > li > a {
    color: #a0a0a0;
}

#sidebar > ul > li > ul.sub > li > a:hover , #sidebar > ul > li > ul.sub > li.active a{
    color: #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #EEEEEE;
    background-image: none;
    color: #333333;
    filter: none;
    text-decoration: none;
}

#sidebar > ul > li > ul.sub > li {
    border-bottom: 1px solid #363636;
}

#sidebar > ul > li > ul.sub > li:last-child {
    border-bottom:none;
}

.chats li.out .name {
    color: #b14c4c;
}

.chats li.in .message {
    border-left: 2px solid #363636;
}

.chats li.in .message .arrow {
    border-right: 8px solid #363636;
}

.chats li.out .message .arrow {
    border-left: 8px solid #b14c4c;
}

.chats li.out .message {
    border-right: 2px solid #b14c4c;
}

/* Landscape phone to portrait tablet */
@media (max-width:979px) {
    #sidebar {
        background-color: #363636 !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
    }

    #sidebar > ul > li > a {
        border-bottom: 1px solid #363636 !important;
    }

    #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
        border-bottom: 1px solid #363636 !important;
    }
}

/*----*/

/*lock*/

.lock-avatar-row, .lock-form-row .tarquoise  {
    background: #363636;
}

.lock-avatar-row img {
    border:10px solid #363636;
}

.lock-identity span {
    color:#363636;;
}

.lock-form-row .tarquoise {
    border:1px solid #363636 !important;
}

/*blog*/

.blog .date {
    border: 1px solid #363636;
}

.blog ul li a:hover, .blog-side-bar ul li a:hover { color: #363636; text-decoration: none;}

.blog .btn:hover {
    background: #363636;
}

.blog-side-bar ul.tag li a {
    background: #363636;
}

/*invoice-list*/


.invoice-list h5 {
    color: #363636;
}

/*about us*/

.about-us h4, .team-member h3, .team-member ul li a:hover, .contact-us h4 {
    color: #363636;
}

